<div class="contain">
    <div>
        <p>A better way to get orders on WhatsApp</p>
        <p>Stop manually responding to customers one by one and start receiving orders reading for fulfillment.</p>
    </div>
    <div class="service-presentation">
       <div>
            <p>As easy as use WhatsApp</p>
            <p>No software or coding required. Customers order on your website, you are notified on WhatsApp and you can communicate directly with them.</p>
            <div class="options">
                <div>
                    <div>
                        <mat-icon>payments</mat-icon>
                    </div>
                </div>
                <div>
                    <p>Get started for free</p>
                    <p>Our Basic Plan has no hidden fees and all you need to operate a business.</p>
                </div>
                <div>
                    <div>
                        <mat-icon>tune</mat-icon>
                    </div>
                </div>
                <div>
                    <p>Start selling in minutes</p>
                    <p>All you need is your mobile phone - no email or credit card required.</p>
                </div>
                <div>
                    <div>
                        <mat-icon>flash_on</mat-icon>
                    </div>
                </div>
                <div>
                    <p>Fast, reliable and mobile first</p>
                    <p>Our website is blazing fast even with old mobile phones.</p>
                </div>
            </div>
       </div> 
       <div>
           <img src="../../assets/img/feature2.png" alt="">
       </div>
    </div>
    <div class="service-presentation-2">
        <div>
            <img src="../../assets/img/feature3.png" alt="">
        </div>
        <div>
            <p>Manage orders efficiently</p>
            <p>No more spreadsheets or missed orders. View your order status, delivery orders, daily sales and customer data all in one place.</p>
            <div class="options">
                <div>
                    <div>
                        <mat-icon>receipt_long</mat-icon>
                    </div>
                </div>
                <div>
                    <p>Order Manager</p>
                    <p>Manage order payment status. Search orders and export to CSV.</p>
                </div>
                <div>
                    <div>
                        <mat-icon>leaderboard</mat-icon>
                    </div>
                </div>
                <div>
                    <p>Analytics</p>
                    <p>See how many people visited and placed orders. Spot trends and understand your customers better.</p>
                </div>
                <div>
                    <div>
                        <mat-icon>shopping_bag</mat-icon>
                    </div>
                </div>
                <div>
                    <p>Discounts</p>
                    <p>Create discount codes and make deals more attractive.</p>
                </div>
                <div>
                    <div>
                        <mat-icon>notifications</mat-icon>
                    </div>
                </div>
                <div>
                    <p>Daily Summary</p>
                    <p>Receive daily summary of orders on WhatsApp.</p>
                </div>
            </div>
       </div> 
     </div>
</div>
