@import "../../styles.scss";
*{
    background-color: #fffcf7;
}
.contain {
    height: max-content;
    font-family: 'Poppins', sans-serif;
    padding-top: 12vh;
    >div:first-child{
        display: grid;
        justify-content: center;
        >p{
            text-align: center;
            margin-bottom: 2vh;
            max-width: 60vw;
            padding: 10px;
            line-height: 1.2em;
        }
        >p:first-child{
            font-weight: bold;
            margin-bottom: 2vh;
        }

    }
    >.service-presentation, >.service-presentation-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5vw;
    }
    >.service-presentation{
        >div:first-child{
            margin-left: 6vw;
            padding: 10px;
            >p{
                text-align: justify;
                margin: 2vh 0 2vh 0;
                line-height: 1em;
            }
            >p:nth-child(2){
                line-height: 1.5em;
            }
        }
    }
    >.service-presentation-2{
        >div:nth-child(2){
            margin-right: 6vw;
            padding: 10px;
            >p{
                text-align: justify;
                margin: 2vh 0 2vh 0;
                line-height: 1em;
            }
            >p:nth-child(2){
                line-height: 1.5em;
            }
        }
        >div:first-child{
            justify-self: flex-end;
        }
    }
    
    .options{
        display: grid;
        grid-template-columns: 10% 75%;
        line-height: 1.2em;
        margin-top: 4vh;
        div:nth-child(n){
            div:first-child{
                background-color: $primary-color;
                width: 50px;
                height: 50px;
                border-radius: 10%;
                display: grid;
                mat-icon{
                    place-self: center;
                }
            }
        }
        div:nth-child(2n){
            margin-bottom: 4vh;
            padding-left: 5px;
            width: 100%;
            text-align: justify;
            margin-left: 0.5vw;
            p:first-child{
                font-size: 20px;
                margin-bottom: 10px;
            }
            p:nth-child(2){
                color: $sub-title-color;
                font-size: 15px;
                margin-bottom: 10px;
            }
        }
    }

    >div:first-child>p:first-child, >.service-presentation>div:first-child>p:first-child, >.service-presentation-2>div:nth-child(2)>p:first-child{
        font-size: 34px;
        font-weight: 800px;
    }
    >div:first-child>p:nth-child(2), >.service-presentation>div:first-child>p:nth-child(2), >.service-presentation-2>div:nth-child(2)>p:nth-child(2){
        color: $sub-title-color;
        font-size: 18px;
        font-weight: 100px;
    }
}

@media screen and (max-width: 700px) {
    .contain {
        max-width: 100%;
        padding-top: 1.2vh;
        >div:first-child{
            margin-top: 1vh;
            >p{
                margin-bottom: 0.1vh;
                max-width: 100vw;
                padding: 2px;
            }
        }
        >.service-presentation, >.service-presentation-2{
            grid-template-columns: 1fr;
            
            gap: 3vw;
            margin-top: 2vh;
        }

        >.service-presentation{
            >div:first-child{
                margin-left: 3vw;
                margin-right: 3vw;
                padding: 2px;
                margin-top: 5vh;
                >p{
                    text-align: justify;
                    margin: 0.1vh 0 0.1vh 0;
                    line-height: 1.5em;
                }
                >p:first-child{
                    font-weight: bold;
                    text-align: center;
                }
                >p:nth-child(2){
                    line-height: 1.5em;
                }
            }
        }
        >.service-presentation-2{
            >div:nth-child(2){
                margin-left: 3vw;
                margin-right: 3vw;
                padding: 2px;
                >p{
                    text-align: justify;
                    margin: 2vh 0 2vh 0;
                    line-height: 1em;
                }
                >p:nth-child(2){
                    line-height: 1.5em;
                }
            }
            >div:first-child{
                justify-self: center;
            }
        }

        >div:first-child>p:first-child, >.service-presentation>div:first-child>p:first-child, >.service-presentation-2>div:nth-child(2)>p:first-child{
            font-size: 25px;
            font-weight: 800px;
        }
        >div:first-child>p:nth-child(2), >.service-presentation>div:first-child>p:nth-child(2), >.service-presentation-2>div:nth-child(2)>p:nth-child(2){
            font-size: 18px;
            font-weight: 100px;
        }

        .options{
            grid-template-columns: 18% 72%;
            div:nth-child(2n){
                margin-bottom: 4vh;
                padding-left: 5px;
                width: 100%;
                text-align: justify;
                margin-left: 0.5vw;
                p:first-child{
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                p:nth-child(2){
                    color: $sub-title-color;
                    font-size: 15px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    img{
        width: 70%;
    }
}