<div class="contain">
    <div class="first-block">
        <div class="started">
            <div>
                <p>Free Order Form<br/> <span> for WhatsApp Sellers</span></p>
            </div>
            <div>
                <p>Create a website for free and save time with order notifications on WhatsApp.</p>
            </div>
            <div>
                <button mat-flat-button>Get started</button>
                <div>
                    <p>Need help? Contact us</p>
                </div>
            </div>
        </div>
        <div class="picture-started"></div>
    </div>
    <app-home-section-services></app-home-section-services>
    <app-home-section-questions></app-home-section-questions>
</div>